#header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto; 
    background-color: #C0AB82
}
body{
    padding: auto;
}

.logo {
    margin-right: 10px;
    height: 50px;
  }

#textfield{
    height: 20px;
    border-style: hidden;
    color: #CDB587;
    border-radius: 5%;
   

}
h1{
    color: #7D4808;
    font-family: 'bebas neue', sans-serif;
font-size: 70px;
}
/* debut video */
.videoframe{
      display: flex;
      flex-direction: column;
   align-items: center; 
   justify-content: center;
    margin-top: 50px;

}
/* #square{
    width: 490px;
    height: 280px;
    background-color: #CDB58790;
    z-index: 2;
    border-radius: 20%; 
    position: absolute;
    margin-left: 50px;
   
} */

.video{
    border-radius: 10%; 
    overflow: hidden;
    z-index: 3;
    /* margin-left: 100px; */
    margin-top: 40px;
    box-shadow: 20px -20px 15px #CDB587;

}
/* fin video */

/* debut bandeau */
#bandeau{
    width: 100%;
    height: 125px;
    background-color: #7D480899;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 10px 10px #CDB587 ; */
}
#bandeauitem{
display: flex;

}
#bandeauimg{
    width:70px;
    width: 70px;
    margin: 10px;
    object-fit: cover;
}
.bandeaulist{
    display: flex;
    flex-direction: row;
   text-align: center;
}
/* fin bandeau */

/* debut vos photos */
h2{
 color: #7D4808;
 font-family: 'bebas neue', sans-serif;
font-size: 50px;
 text-align: center;

}
h3{
    color: #7D4808;
    font-family: 'bebas neue', sans-serif;
   font-size: 20px;
    text-align: center;
}

p{
    font-family: 'bebas neue', sans-serif;

}

.vosphotos{
  display: inline-block;
padding-left: 100px;

}
#vosphotos{

    width:250px;
    height: 150px;
    border-radius: 5%;
    object-fit:cover;
    box-shadow: 10px 10px 5px #CDB587;
    /* margin: 50px; */
}
/* fin vos photos*/

/* debut ingredients */
#description{
    padding-bottom: 30px;
    font-size:x-large;
    /* background-color: #C0AB8250; */
    text-align: center;

}
.ingredients{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
padding-bottom: 100px;
    
}
#square2{
    width: 800px;
    height: 900px;
    background-color: #CDB58790;
    z-index: 0;
    border-radius: 10%;
    display: flex;
    justify-content: center;
  
}

li{
    list-style: none;
    font-family: 'bebas neue', sans-serif;
    display: row;
padding: 30px;
    /* padding-right: 20px; */

}

#ajoute{
    display: flex;
}

.imgingred{
    width: 120px;
    height: 120px;
    border-radius: 50%; 
object-fit:cover;
display:flex;
flex-direction: row;
box-shadow: 10px -5px 5px #7D4808;

}

#textingredients{
    width: 500px;
    height: 500px;
    text-align: center;
    
}
/* fin ingredients */

/* debut etapes */
.recipe{
    display: flex;
margin: 10px;
    justify-content: center;
    /* padding-bottom: 150px; */
    
}
.imageetape{
width: calc(100% - 10px); 
height: 400px;
border-radius: 5%;
object-fit: cover;
margin: 50px;
box-shadow: 10px 10px 5px #CDB587;
}
.square3{
width: 50vh; 
height: 20vh;
background-color: #CDB587;
z-index: 2;
border-radius: 5%; 
position: absolute;
margin-top: -40vh;
box-shadow: 10px 10px 2px #CDB58780;
}

ul {
    display: grid;
    justify-content: center;
    align-items: center;
}

  
/* fin etapes */
/* debut comments */
.comments{
    /* max-width: 90%; */
    width: 1000;
    height: 550px;
    padding: 0 10%  10% 5%;
    margin: 10%;
    background-color: #CDB58790;
    z-index: 0;
    border-radius: 5%;  
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#imagecom{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
object-fit:cover;
display:flex;
flex-direction: row;
}

.com{
    display:flex;
    flex-direction: column;
}

.profil{
/* display: flex;
flex-direction: column; */
}
/* fin comments */