body{
    font-family: 'bebas neue', sans-serif;
}

#header {   
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: #C0AB82;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;    
}

#logo {
    padding: 5px;
}

.searchbar{
    margin: auto;
    min-height:10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 60px;
    padding: 5px 10px;
}
    
.searchbar input{
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 14px 10px;
        font-size: 15px;
        color: #E63B1D;
}

.searchbar button img {
        width: 35px;
        border-radius: 10%;
}

.searchbar button{
        border: 0;
        border-radius: 20px;
        width: 45px;
        height: 45px;
        background-color:  white;
        cursor: pointer;
        margin-left: 50px;
}
    
.searchbar placeholder{
        margin-right: 70px;
}

#profilpicture {      
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;


}

#sectionProfil {

    display: inline-block;
   

}

#Avatar {
    display: flex;
    justify-content: center;
    border-radius: 10%;


}

#Name {

    text-align: center;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    margin: auto;
    margin-top: 20px;
    float: none;
    margin-bottom: 20px;
    width: 700px;
    padding: 20px;
    border-radius: 10px;
}

#Ingredients {
     
    text-align: center;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    margin: auto;
    margin-top: 20px;
    float: none;
    margin-bottom: 20px;
    width: 700px;
    padding: 20px;
    border-radius: 10px;
}

#Allergenes {
    text-align: left;
    background-color: rgba(128, 128, 128, 0.5);
    margin: auto;
    margin-top: 20px;
    float: none;
    margin-bottom: 20px;
    width: 700px;
    padding: 20px;
    border-radius: 10px;
    
}

h2 {
    color: #7D4808;
}

.card {
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    width: 700px;

    padding: 40px;

}

footer {
    margin: 0 auto;

    text-align: center;
    padding-top: 33px;
    padding-bottom: 33px;
    background-color: #C0AB82;
    color: rgb(247, 242, 242);
}
#youtube {
    max-width: 40px;
    max-height: 40px;

}

#instagram {
    max-width: 40px;
    max-height: 40px;


}

#facebook {
    margin-left: 5px;
    max-width: 40px;
    max-height: 40px;

}

#tiktok {
    margin-left: 5px;
    max-width: 40px;
    max-height: 40px;

}